{%extends 'base.html'%}
{%load static%}
{%block title%}
{%endblock title%}

{%block content%}
   
    <div class="row mt-5">
        <div class="col-4">
           <img src="{% static 'images/image1.jpg'%}" alt="note" width="300">
        </div>
        <div class="col-4">
            <img src="{% static 'images/image1.jpg'%}" alt="note" width="300">
        </div>
        <div class="col-4">
            <img src="{% static 'images/image1.jpg'%}" alt="note" width="300">
        </div>
    </div>  
    
    <div class="row mt-5">
        <div class="col-ml-6 offset-md-1">
           
        <center> <p class="h1">Lorem ipsum dolor sit amet consectetur adi</p></center>
        <center>  <p class="h2">aliquam? Neque aut, suscipit eum placeat duci</p></center>
            <center>  <p class="h3">Error quidem temporibus, consectetur impedit</p></center>
            <center><a href="" class="btn btn-primary">let's Go</a></center>
        </div>
    </div>




{%endblock content%}